.section-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
}

.post {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 500px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.post .img-thumb {
  flex-basis: 40%;
  height: 150px;
  margin-right: 20px;
}

.post .img-thumb img {
  width: 200px;
}

.content {
  flex-basis: 60%;
}

.content p.title {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #3d4a6e;
  margin-bottom: 10px;
}

.content p.desc {
  margin: 0px;
  font-size: 16px;
  color: #4a4a4a;
}

.btn-detail {
  outline: none;
  font-size: 11px;
  border: 1px solid darkgreen;
  padding: 10px 20px;
  border-radius: 4px;
  color: darkgreen;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 10px;
}

.btn-update {
  outline: none;
  font-size: 11px;
  border: 1px solid darkorange;
  padding: 10px 20px;
  border-radius: 4px;
  color: darkorange;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 10px;
}

.btn-remove {
  outline: none;
  font-size: 11px;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 4px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.btn-detail:hover,
.btn-update:hover,
.btn-remove:hover {
  cursor: pointer;
}

.form-add-post {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  width: 500px;
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.form-add-post label {
  display: block;
  font-size: 14px;
  color: #607d88;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-add-post input,
.form-add-post textarea {
  outline: none;
  border: 1px solid #607d88;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  color: #607d88;
}

.btn-save {
  outline: none;
  border: 1px solid #2196f3;
  padding: 10px 30px;
  border-radius: 4px;
  color: #2196f3;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}
